@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Ubuntu&display=swap');

:root{
    --main-color : #CCCCFF;
    --second-color : #fff;
    --main-font : 'Rubik', sans-serif;
    --fontWeight-bolder :
}

body{
    background-color: var(--main-color);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    justify-content: space-around;
    align-items: center;
    margin: 2em auto;
    
}



legend{
    text-align: center;
    margin: 0 0 0 auto;
    outline: .1em dashed var(--second-color);
    padding: .5em 1em;
    color: var(--second-color);
}


fieldset{
    margin: .5em 0 ;
    border: 0;
    outline: .1em dashed var(--second-color);
}

main form, form div {
    display: flex;
    flex-flow: column nowrap;
}

form div{
    padding: 1em;
    
}

form div > *{
    margin: .1em 0;
}

.controlador{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 .5em;
}

.controlador > *{
    padding: .5em 0;
    margin: .5em 0;
}

.controlador input{
    background-color: transparent;
    border: 0;
    outline: .1em solid ;

}

.perfiles{
    min-width: 300px;
    min-height: 30vh;
    padding: 1em;
}



.sexo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.errors{
    display: flex;
    flex-flow: column nowrap;
}

.errors > * {
    margin:  .1em 0;
}
