@import url('first-styles.css');


h1{
    margin: 2em 0;
    color: var(--main-color);
}

form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1em auto;
}

form fieldset{
    max-width: 760px;
    display: flex;
    flex-flow: row wrap;
    outline: 0;
    justify-content: space-around;
    outline: .1em solid var(--main-color);
}

form fieldset > * {
    margin: 1em .1em;
}

fieldset input, form select{
    width: 150px;
    
}

body > input{
    background-color: transparent;
    border: 0;
    outline: .1em solid var(--main-color);
}

.validacion{
    width: 100%;
}

input[value="Validar"]{
    background-color: transparent;
    padding: .3em 1em;
    margin: 1em auto;
    cursor: pointer;
    border: 0;
    outline: .2em solid var(--main-color);

}

input[value="Validar"]:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

.errors{
    display: flex;
    align-items: center;
}